[Desktop Entry]
Name[be]=Камера
Name[ca]=Càmera
Name[cs]=Fotoaparát
Name[da]=Kamera
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_GB]=Camera
Name[eo]=Kamerao
Name[es]=Cámara
Name[eu]=Kamera
Name[fa]=دوربین
Name[fi]=Kamera
Name[fr]=Caméra
Name[fur]=Fotocjamare
Name[gl]=Cámara
Name[he]=מצלמה
Name[hu]=Kamera
Name[id]=Kamera
Name[it]=Fotocamera
Name[ka]=კამერა
Name[kab]=Takamirat
Name[kk]=Камера
Name[ko]=카메라
Name[lt]=Kamera
Name[lv]=Kamera
Name[nb]=Kamera
Name[nl]=Camera
Name[oc]=Camèra
Name[pa]=ਕੈਮਰਾ
Name[pl]=Aparat
Name[pt]=Câmara
Name[pt_BR]=Câmera
Name[ro]=Camera
Name[ru]=Камера
Name[rw]=Kamera
Name[sk]=Fotoaparát
Name[sl]=Kamera
Name[sr]=Камера
Name[sv]=Kamera
Name[th]=กล้อง
Name[tr]=Kamera
Name[uk]=Камера
Name[vi]=Máy ảnh
Name[zh_CN]=相机
Name[zh_TW]=相機
Name=Camera
Comment[be]=Атрыманне здымкаў і запіс відэа
Comment[ca]=Fes fotos i vídeos
Comment[cs]=Pořizujte obrázky a videa
Comment[da]=Tag billeder og optag videoer
Comment[de]=Bilder und Videos aufnehmen
Comment[el]=Λήψη φωτογραφιών και βίντεο
Comment[en_GB]=Take pictures and videos
Comment[eo]=Fari fotojn kaj videojn
Comment[es]=Hacer fotos y vídeos
Comment[eu]=Sortu irudiak eta bideoak
Comment[fa]=گرفتن نگاره و ویدیو
Comment[fi]=Ota kuvia ja videoita kameralla
Comment[fr]=Prendre des photos ou enregistrer des vidéos
Comment[fur]=Cjape sù imagjin e videos
Comment[gl]=Tome capturas e vídeos
Comment[he]=צילום תמונות וסרטים
Comment[hu]=Képek és videók rögzítése
Comment[id]=Ambil gambar dan video
Comment[it]=Scatta foto e registra video
Comment[ka]=გადაიღეთ სურათები და ვიდეოები
Comment[kab]=Ṭṭef tugniwin d tvidyutin
Comment[kk]=Фотолар мен видеоларды түсіру
Comment[ko]=사진 및 영상을 촬영합니다
Comment[lt]=Fotografuokite ir filmuokite
Comment[lv]=Uzņemiet bildes un video
Comment[nb]=Ta bilder og videoer
Comment[nl]=Maak foto’s en video’s
Comment[oc]=Prendre de fòtos e vidèos
Comment[pa]=ਤਸਵੀਰਾਂ ਅਤੇ ਵੀਡੀਓ ਬਣਾਓ
Comment[pl]=Robienie zdjęć i nagrywanie filmów
Comment[pt]=Tirar fotografias e gravar vídeos
Comment[pt_BR]=Tire fotos e vídeos
Comment[ro]=Ia poze și video-uri
Comment[ru]=Снимайте фото и видео
Comment[rw]=Fata amafoto n'amavidewo
Comment[sk]=Zachytáva obrázky a videá
Comment[sl]=Fotografiranje in snemanje videoposnetkov
Comment[sr]=Снимање видеа и слика
Comment[sv]=Ta bilder och spela in videoklipp
Comment[th]=ถ่ายภาพและวิดีโอ
Comment[tr]=Resim ve video çek
Comment[uk]=Створення зображень та відео
Comment[vi]=Chụp ảnh và quay phim
Comment[zh_CN]=拍摄照片和视频
Comment[zh_TW]=拍攝照片與錄製影片
Comment=Take pictures and videos
Type=Application
Exec=snapshot
Terminal=false
Categories=AudioVideo;Video;Recorder;GNOME;GTK;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=picture;photos;camera;webcam;snapshot;выява;здымак;здымка;фота;камера;вэб-камера;
Keywords[ca]=imatge;fotos;càmera;càmera web;instantània;
Keywords[cs]=obrázek;fotky;kamera;fotoaparát;foťák;webkamera;snapshot;
Keywords[da]=billede;foto;kamera;webcam;snapshot;
Keywords[de]=picture;photos;camera;webcam;snapshot;Bilder;Fotos;Kamera;Webcam;Schnappschuss;
Keywords[el]=εικόνα;φωτογραφίες;κάμερα;webcam;στιγμιότυπο;
Keywords[en_GB]=picture;photos;camera;webcam;snapshot;
Keywords[es]=imagen;fotos;cámara;webcam;snapshot;
Keywords[eu]=irudia;argazkiak;kamera;web-kamera;kaptura;
Keywords[fa]=picture;photos;camera;webcam;snapshot;عکس:نگاره:تصویر:دوربین;وب‌کم;
Keywords[fi]=picture;photos;camera;webcam;snapshot;kuva;valokuva;kamera;web-kamera;webbikamera;
Keywords[fr]=image;photos;caméra;webcam;snapshot;
Keywords[fur]=imagjin;figure;fotos;fotocjamare;webcam;istantanie;
Keywords[gl]=imaxe;fotos;cámara;cámara web;captura;
Keywords[he]=תמונה;תמונות;תצלום;צילום;מצלמה;מצלמות;מצלמת רשת;מצלמת אינטרנט;לכידה;
Keywords[hu]=kép;fénykép;kamera;webkamera;pillanatkép;
Keywords[id]=gambar;foto;kamera;kamera web;webcam;snapshot;
Keywords[it]=immagine;fotografia;foto;fotocamera;camera;webcam;schermata;
Keywords[ka]=picture;photos;camera;webcam;კამერა;სურათები;ვებკამერა;
Keywords[kab]=tugna;tiwlafin;takamirat;webcam;agdil;
Keywords[kk]=picture;photos;camera;webcam;snapshot;сурет;фото;камера;веб-камера;түсірілім;
Keywords[ko]=picture;그림;photos;사진;camera;카메라;webcam;웹캠;snapshot;스냅샷;
Keywords[lt]=paveikslėlis;nuotraukos;kamera;internetinė;
Keywords[lv]=attēls;bilde;foto;kamera;tīmekļa kamera;momentuzņēmums;
Keywords[nb]=bilde;fotografi;fotografering;kamera;webkamera;snapshot;ta bilder;videoer;videoklipp;ta opp;videokamera;
Keywords[nl]=picture;photos;camera;webcam;snapshot;foto's;foto’s; afbeeldingen;
Keywords[oc]=imatge;fòtos;aparelh fòto;camèra;fotografia;webcam;snapshot;
Keywords[pa]=ਤਸਵੀਰ;ਫ਼ੋਟੋ,ਕੈਮਰਾ;ਵੈਬਕੈਮ;ਸਨੈਪਸ਼ਾਟ;ਪਿਕਚਰ;
Keywords[pl]=zdjęcie;zdjęcia;aparat;fotograficzny;fotografia;fotografie;film;filmy;wideo;video;webcam;kamera;kamerka;efekty;selfie;selfik;snapshot;
Keywords[pt_BR]=imagem;fotos;câmera;captura;camera;webcam;picture;photos;camera;webcam;snapshot;
Keywords[ru]=изображение;фото;камера;веб-камера;picture;photos;camera;webcam;snapshot;
Keywords[rw]=ishusho;amafoto;kamera;webcam;snapshot;
Keywords[sl]=slika;fotografije;fotoaparat;kamera;spletna kamera;posnetek;picture;photos;camera;webcam;snapshot;
Keywords[sv]=bild;foton;kamera;webbkamera;snapshot;ögonblicksbild;
Keywords[th]=รูปภาพ;ภาพถ่าย;กล้อง;เว็บแคม;สแนปช็อต;
Keywords[tr]=resim;fotoğraf;görüntü;web kamerası;picture;photos;camera;kamera;webcam;kamera;şipşak;snapshot;
Keywords[uk]=picture;photos;camera;webcam;snapshot;зображення;картинка;фото;фотографії;камера;фотоапарат;вебкамера;знімок;
Keywords[zh_CN]=图片;照片;相机;照相机;快照;
Keywords[zh_TW]=picture;photos;camera;webcam;snapshot;相片;圖片;影像;相機;照相機;攝影;錄影;拍照;快拍;
Keywords=picture;photos;camera;webcam;snapshot;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Snapshot
StartupNotify=true
# Translators: Do NOT translate or transliterate these categories
X-Purism-FormFactor=Workstation;Mobile;
